{% load static %}
<div class="container mx-5">
    <div class="card">
        <div class="card-body">
        <img src="{% static 'images/0.jpg'%}" class="img-fluid" alt="main photo">

        <h5 class="card-title">NEW YEAR, <br> NEW YOU</h5>
        <p class="card-titles">Get moving with our latest style.</p>
        <a href="#" class="btn btn-primary">Shop</a>
        </div>
    </div>

    <div class="row mergin">
        <div class="card-header">
        <h4>The Latest And Greatest</h4>
        </div>
        <div class="col-sm-6">
        <img src="{%static 'images/pic5.jpg'%}" alt=" redshoes" class="shoes">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <img src="{%static 'images/pic4.jpg'%}" alt="green sandle" class="shoes">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Women Lightweight sandle.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>

        <div class="card">
        <div class="card-header">
            <h4>Trending</h4>

        </div>

        <div class="card-body">
            <img src="{%static 'images/pic6.jpg'%}" class="img-fluid" alt="main photo">

            <h5 class="card-title">NEW YEAR, <br> NEW YOU</h5>
            <p class="card-titles">Get moving with our latest style.</p>
            <a href="#" class="btn btn-primary">Shop</a>
        </div>
        </div>

        <div class="card">
        <div class="card-header">
            <h4>Own the floor</h4>

        </div>

        <div class="card-body">
            <img src="{%static 'images/pic7.jpg'%}" class="img-fluid" alt="main photo">

            <h5 class="card-title">NEW YEAR, <br> NEW YOU</h5>
            <p class="card-titles">Get moving with our latest style.</p>
            <a href="#" class="btn btn-primary">Shop</a>
        </div>
        </div>

        <div class="card-header">
        <h4>Featured</h4>
        </div>
        <div class="col-sm-6">
        <img src="{%static 'images/pic8.jpg'%}" alt="redshoes" class="shoes">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <img src="{%static 'images/pic9.jpg'%}" alt="green sandle" class="shoes">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Women Lightweight sandle.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>

        <div class="container">
        <div class="col-sm-4">
            <div class="card">
            <img src="{%static 'images/pic1.jpg'%}" alt="girl" class="more">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
            <img src="{%static 'images/12.jpg'%}" alt="baby" class="more">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
            <img src="{%static 'images/13.jpg'%}" alt="boy" class="more">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        </div>
        </div>
    </header>
    <div class="card">
    <div class="card-header">
        <h4>Member Benifits</h4>

    </div>

    <div class="card-body">
        <img src="{% static 'images/pic6.jpg'%}" class="img-fluid" alt="main photo">
        <h5 class="card-title">NEW YEAR, <br> NEW YOU</h5>
        <p class="card-titles">Get moving with our latest style.</p>
        <a href="#" class="btn btn-primary">Shop</a>
    </div>
    </div>
</div>